<div class="wrapper-content">
  <h3>Content child & View child</h3>
  <app-content>
    <div #cnt>B : content</div>
    <div #view>C : view</div>
  </app-content>
  <h3></h3>
  <h3>Setter & Getter</h3>
  <app-setter></app-setter>
  <h3>Parent - Child Interaction Local Variable</h3>
  <p>
    Parent :
    <app-button size="small" (click)="calculator.add()">Add</app-button
    >{{ " " }}
    <app-button size="small" (click)="calculator.subtract()"
      >Subtract</app-button
    >{{ " " }}
    <app-button size="small" (click)="calculator.reset()">Reset</app-button>
  </p>
  Child :
  <app-local-var #calculator></app-local-var>
  <h3>Template variables - WIP</h3>
  <div>
    <input class="inpt" type="text" #inputItem />{{ " " }}
    <app-button size="small" (btnClick)="alertValue(inputItem.value)"
      >Alert input value</app-button
    >
  </div>
  <!-- <form>
    <label>
      <p>username</p>
      <input name="username" />
    </label>
    <label>
      <p>password</p>
      <input name="password" />
    </label>
    <label>
      <p>email</p>
      <input name="email" />
    </label>
  </form> -->
</div>
