<div class="wrapper-content">
  <h3>Content child & View child</h3>
  <app-content>
    <div #cnt>B : content</div>
    <div #view>C : view</div>
  </app-content>
  <h3></h3>
  <h3>Setter & Getter</h3>
  <!-- <input [(ngModel)]="value" type="text" name="value" /> -->
  <app-setter></app-setter>
  <!-- <form>
    <label>
      <p>username</p>
      <input name="username" />
    </label>
    <label>
      <p>password</p>
      <input name="password" />
    </label>
    <label>
      <p>email</p>
      <input name="email" />
    </label>
  </form> -->
</div>
