/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
p,
h3 {
  margin: 0;
}
.container {
  max-width: 680px;
  margin: 0 auto;
}
